// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

body {
    color: #4f565a;
    line-height: 1.7;
    letter-spacing: 1.5px;
    font: 400 14px/1.4 -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
    background-color: #eee;
}

.wrapper{
    background-color: #fff;
}

.site-header {
    /* 让header置顶 */
    // position: sticky;
    /* 确保 header 在其他内容之上 */
    // z-index: 1000;
    /* 固定在顶部 */
    // top: 0; 
    /* justify-content: space-between; */
    background: white;
    box-shadow: 0 .325rem .25rem rgba(0, 0, 0, 0.075)!important;
}

.site-header .logo{
    display: flex;
    align-items: center;
    color: black;
    border-bottom: solid 1px black;
    font-weight: bold;
    font-size: 1.1em;
}

.site-header a {
    text-decoration: none;
    display: flex;
    align-items: center;
}


strong{
    color: tomato;
    font-weight: 600;
}

h2,h3,h4,h5,h6{
    color: deepskyblue;
}

h2{
    border-bottom:solid 2px;    
}
h3{
    border-bottom:solid 1px;
}

blockquote{
    font-size: 0.9em;
}

