<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <link ref="stylesheet" src="/History.markdown">
  <!-- 引入outline.js的样式 -->
  <link rel="stylesheet" href="/assets/css/outline.min.css">
  <style>
    /* *{border: 1px solid black;} */

    .page-content{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  </style>
  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
      <!-- 增加一个侧边栏：文章导读 -->
      <aside id="aside">
        <p>文章导读</p>
      </aside>
    </main>

    {%- include footer.html -%}


    <script src="/assets/js/outline.min.js"></script>
    <script>
      (function(){
          const defaults = Outline.DEFAULTS
          let outline
      
          // defaults.position = 'sticky'
          defaults.stickyHeight = 86
          // position 的值为 sticky 或者 fixed 时需要指定
          // parentElement 参数，即文章导航菜单插入的 DOM 位置
          // 可以时 dom 元素，也可以是 DOM 元素的选择器字符串
          defaults.parentElement = '#aside'
          defaults.articleElement = '#article'
          defaults.homepage = './index.md'
          // Outline.DEFAULTS 是对象，应用类型的
          outline = new Outline(defaults)    
      })()
  </script>
  </body>

</html>
