<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <link ref="stylesheet" src="/History.markdown">
  <!-- 引入outline.js的样式 -->
  <!-- <link rel="stylesheet" href="/assets/css/outline.min.css"> -->
  <link rel="stylesheet" href="/assets/js/toc-recto/toc-recto.css">
  <style>
    /* *{border: 1px solid black;} */

    /* .page-content{
      display: flex;
    } */
  </style>
  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}


    <!-- <script src="/assets/js/outline.min.js"></script> -->
    <script src="/assets/js/toc-recto/toc-recto.js"></script>
    <script>
      (function(){
        //const defaults = Outline.DEFAULTS;
        //let outline;

        //defaults.homepage = '/notes-blog/index.html';
        //defaults.stickyHeight = 86;
        //defaults.placement = 'rtl';
        //defaults.closeOnClickModal = true;
        //defaults.showNavModalFirst = true;
        //outline = new Outline(defaults);
        //outline.reload();

        // 调整配置
        let config = {
            article: 'article',
            home: '/notes-blog'
        };
        // 创建一个TocRecto
        const tocRecto = new TocRecto(config);
        // 使用TocRecto的原型方法生成toc目录
        tocRecto.generateTOC();
        
      })()
  </script>
  </body>

</html>
